.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: #032749;
}

.on {
  background-color: #ff0000;
}
  
.box:hover { 
  background: white;
}

.center {
  margin:  0 auto;
  display: table;
  margin-top: 30px;
}

.grid {
  width: 160px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}
.howtoplay {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 60%;
  border: 2px solid black;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem

}
.rules {
  max-width: 40%;
  font-size: .7rem;
  border: 1px dashed black;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
  color: #032749
}
.gameinfo {
  max-width: 40%;
  font-size: .7rem;
  border: 1px dashed black;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
  color: #032749;
}
  

h1, h2, h3, h4 {
  color:#032749;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;

}
