.app {
  background-color: #c4ddf2;
  border: 5px  #032749 solid;
  display: flex;
  flex-direction: row;
  max-width: 100%
}
.main {
  margin: 0 auto;
}
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 19px;
  height: 19px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: #032749;
}

.on {
  background-color: #ff0000;
}
  
.box:hover { 
  background: white;
  
}

.center {
  margin:  0 auto;
  display: table;
  margin-top: 30px;
}

.grid {
  width: 200px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}
.howtoplay {
  background-color: #c4ddf2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  border: 2px solid black;
  padding: .5rem .5rem .5rem .5rem;

}
.rules {
  width: 80%;
  border: 1px dashed #ff0000;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
  color: #032749;
  font-size: .9rem;
}
.gameinfo {
  max-width: 80%;
  border: 1px dashed #ff0000;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
  color: #032749;
  font-size: .9rem;
}
  

h1, h2, h3, h4 {
  color:#032749;
  margin: auto;
  text-align: center;
  width: 50%;
}

h4 {
  margin-top: 0px;

}
